[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "==1.0.0"
ipython = "==8.14.0"
notebook = "==6.5.4"
requests = "==2.28.2"
beautifulsoup4 = "==4.12.2"
# scrapy = "*"
# lxml = "*"
openpyxl = "==3.0.10"
pandas = "*"
numpy = "*"
dateutils = "*"
plotly = "*"
jupyterthemes = "*"

[dev-packages]

[requires]
python_version = "3.9"
